# CORS setup for local development
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

VITE_HOSTS=localhost

# Hot reload settings
VITE_HMR_HOST=localhost
VITE_HMR_PROTOCOL=ws
VITE_HMR_PORT=5173

# Clerk - you can create a free account at clerk.com
# Get a free key and paste it here
VITE_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=