VITE_HOSTS=localhost

# Hot reload settings
VITE_HMR_HOST=localhost
VITE_HMR_PROTOCOL=ws

# Clerk - you can create a free account at clerk.com
# Get a free key and paste it here
VITE_CLERK_PUBLISHABLE_KEY=